* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    header {
        width: 100%;
        height: 50px;
        background: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;

        h3 {
            width: 60%;
            height: 70%;
            text-align: center;
        }

        i {
            width: 50px;
            font-size: 25px;
        }
    }

    section {
        flex: 1;
        overflow-y:auto ;

        .every {
            height: 130px;
            display: flex;
            padding: 0 10px;
            box-sizing: border-box;
            align-items: center;
            border-bottom: 1px solid #ccc;

            img {
                height: 90%;
                margin: 0 10px;
            }

            >div {
                height: 80%;
                flex: 1;
                display: flex;
                flex-direction: column;

                p {
                    flex: 1;
                    display: flex;

                    >span {
                        flex: 1;

                        &.you {
                            display: flex;

                            span {
                                height: 70%;
                                flex: 1;
                                border: 1px solid #ccc;
                                font-size: 20px;
                                text-align: center;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    >div {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        box-sizing: border-box;
        border-top: 1px solid #ccc;

        >div {
            padding: 0 25px;
            background: #f00;
            height: 100%;
            line-height: 50px;
            color: #fff;
        }
    }

    footer {
        width: 100%;
        height: 60px;
        display: flex;
        border-top: 1px solid #ccc;

        dl {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            dt {
                font-size: 25px;
            }
        }

        .active {
            color: #ff0;
        }
    }
}