<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详情页</title>
    <link rel="stylesheet" href="../css/detile.css">
</head>
<body>
    <div class="wrapper">
        <img src="../img/分类_04.jpg" alt="">
        <h1>后街 Mini Road</h1>
        <p>运动型城市小腈纶</p>
        <div>专业的碗打碎了分两块三埃里克圣诞节福利卡案例看电视剧发卡三等奖拉萨的</div>
        <span><span>3999</span>元</span>
        <p class="an"><button>立即购买</button></p>
    </div>
</body>
</html>