<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../css/shop.css">
    <link rel="stylesheet" href="../fonts/iconfont.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <i class="iconfont icon-chevron-thin-left"></i>
            <h3>购物车</h3>
            <i></i>
        </header>
        <section>
            <div class="every">
                <input type="checkbox">
                <img src="../img/分类_05.jpg" alt="">
                <div>
                    <p>后街</p>
                    <p><span>￥<span>2499</span></span><span class="you"><span class="jian">-</span><span class="num">1</span><span
                                class="jia">+</span></span></p>
                </div>
            </div>
            <div class="every">
                <input type="checkbox">
                <img src="../img/分类_05.jpg" alt="">
                <div>
                    <p>后街</p>
                    <p><span>￥<span>2499</span></span><span class="you"><span class="jian">-</span><span class="num">1</span><span
                                class="jia">+</span></span></p>
                </div>
            </div>
            <div class="every">
                <input type="checkbox">
                <img src="../img/分类_05.jpg" alt="">
                <div>
                    <p>后街</p>
                    <p><span>￥<span>2499</span></span><span class="you"><span class="jian">-</span><span class="num">1</span><span
                                class="jia">+</span></span></p>
                </div>
            </div>
            <div class="every">
                <input type="checkbox">
                <img src="../img/分类_05.jpg" alt="">
                <div>
                    <p>后街</p>
                    <p><span>￥<span>2499</span></span><span class="you"><span class="jian">-</span><span class="num">1</span><span
                                class="jia">+</span></span></p>
                </div>
            </div>
            <div class="every">
                <input type="checkbox">
                <img src="../img/img(1).jpg" alt="">
                <div>
                    <p>后街</p>
                    <p><span>￥<span>2499</span></span><span class="you"><span class="jian">-</span><span class="num">1</span><span
                                class="jia">+</span></span></p>
                </div>
            </div>

        </section>
        <div>
            <label><input type="checkbox"> 全选</label>
            <span>合计：￥<span>2499</span>(不含运费)</span>
            <div>结算(1)</div>
        </div>
        <footer>
            <dl>
                <dt class="iconfont icon-shouye"></dt>
                <dd>首页</dd>
            </dl>
            <dl>
                <dt class="iconfont icon-zixun"></dt>
                <dd>分类</dd>
            </dl>
            <dl class="active">
                <dt class="iconfont icon-daishouhuo-01"></dt>
                <dd>购物车</dd>
            </dl>
            <dl>
                <dt class="iconfont icon-icongerenzhongxin-01"></dt>
                <dd>我的</dd>
            </dl>
        </footer>
    </div>
</body>

</html>